body {
	background: #fafafa;
	position: relative;
}

.mdl-card__title.card__title {
	padding-bottom: 0px;
}

.demo-card-wide.mdl-card {
	width: 600px;
	min-height: auto;
	margin-bottom: 8px;
	margin-top: 20px;
}

.mdl-card__supporting-text.text-in-card {
	padding: 16px 16px;
}

.change-password {
	margin-bottom: 30px;
}

.submit-cancel {
	margin-top: 20px;
	margin-bottom: 20px;
}

.mdl-textfield.selection-toggle {
	display: none;
}

.title-link {
	text-decoration: none;
	color: rgb(255,255,255);
}