body {
    background: #fafafa;
    position: relative;
}

.mdl-card__title.card__title {
    padding-bottom: 0px;
}

.demo-card-wide.mdl-card {
    width: 600px;
    min-height: auto;
    margin-bottom: 8px;
    margin-top: 20px;
}

.mdl-card__supporting-text.text-in-card {
    padding: 16px 16px;
}

.post-btn {
    margin-top: 20px;
    margin-bottom: 20px;
}

.mdl-textfield.salary {
    width: 164px;
}

.mdl-textfield__input.salary-align {
    text-align: right;
}

.display-block {
    display: block;
}

.mdl-textfield.location-toggle {
    display: none;
}

.title-link {
    text-decoration: none;
    color: rgb(255,255,255);
}