body {
    background: #fafafa;
    position: relative;
}

.mdl-grid.grid-padding {
    padding: 28px;
}

.mdh-expandable-search {
    margin: 0 50px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.mdh-expandable-search form {
    max-width: 600px;
}

.mdh-expandable-search,
.mdh-expandable-search form,
.mdh-expandable-search input {
    /* Cross browser flex-grow */
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.mdh-expandable-search,
.mdh-expandable-search form {
    /* Cross browser inline-flex */
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

/* Position search icon */
.mdh-expandable-search .material-icons {
    position: relative;
    right: -40px;
    margin-left: -24px; /* Remove the blank space left behind by the icon being relatively positioned */

}

.mdh-expandable-search input {
    outline: none;
    border: none;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #90A4AE;
    padding: 0px 35px 0px 70px;
    height: 37px;
    line-height: 37px;

    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

.mdh-expandable-search input::-webkit-input-placeholder { /* WebKit browsers */
    color:    #FFFFFF;
}
.mdh-expandable-search input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #FFFFFF;
    opacity:  1; /* Firefox gives the placeholder a reduced opacity so we have to increase it */
}
.mdh-expandable-search input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #FFFFFF;
    opacity:  1; /* Firefox gives the placeholder a reduced opacity so we have to increase it */
}
.mdh-expandable-search input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #FFFFFF;
}

.mdl-cell.mdl-cell--3-col {
    padding: 0px 30px;
}

.demo-card-wide.mdl-card {
    width: 600px;
    min-height: auto;
    margin-bottom: 8px;
}

.mdl-card__supporting-text.text-in-card {
    padding: 0px 16px;
}

.company-name {
    display: block;
    padding-bottom: 5px;
    font-size: 16px;
    color: rgba(0,0,0,.54);
    text-decoration: none;
}

.job-location {
    font-size: 16px;
    color: rgba(0,0,0,.54);
    text-decoration: none;
    vertical-align: middle;
}

.material-icons.location-icon {
    font-size: 18px;
    vertical-align: middle;
}

.facet-header,
.facet-job-title,
.facet-company-name,
.facet-city {
    color: #757575;
    vertical-align: middle;
    padding: 8px 5px 5px 5px;
}

.facet-job-title {
    margin-top: 10px;
}

.mdl-chip__text {
    color: rgba(0,0,0,.5);
}

.mdl-list__item.facet-job-title-list,
.mdl-list__item.facet-company-name-list,
.mdl-list__item.facet-city-list {
    background: #ffffff;
    min-height: 38px;
    padding: 0px 16px;
    margin-bottom: 2px;
}

.demo-list-item.mdl-list {
    width: auto;
    margin: 0px;
}

.facet-apply {
    float: right;
    margin-top: 24px;
}

.mdl-mini-footer.cust-footer {
    padding: 10px 30px 20px 30px;
}

.title-link {
    text-decoration: none;
    color: rgb(255,255,255);
}

.company-name {
    cursor: pointer;
}