body {
    background: #fafafa;
    position: relative;
}

.demo-card-wide.mdl-card {
    width: 100%;
    min-height: auto;
    margin-bottom: 8px;

}

.mdl-layout__content.grid-padding {
    padding-top: 10px;
}

.mdl-card__title.job-company {
    padding: 0px 16px;
}

.mdl-card__title-text.job-title {
    margin: 24px 8px;
}

.company-name {
    color: rgba(0,0,0,.54);
    margin: 24px 8px;
    cursor: pointer;
}

/*.mdl-card__supporting-text.location{
	padding: 0px 16px 16px 16px;
	font-size: 16px;
	color: rgba(0,0,0,.54);
	text-decoration: none;
	vertical-align: middle;
}*/

.mdl-cell.mdl-cell--7-col.job-description-margin {
    margin-bottom: 0px;
}

.mdl-card__title.job-description{
    padding: 24px 16px;
    width: 100%;
}

.mdl-grid.no-bottom-padding {
    padding-bottom: 0px;
}

.mdl-grid.no-top-padding {
    padding-top: 0px;
}

.mdl-cell.mdl-cell--10-col.no-bottom-margin {
    margin-bottom: 0px;
}

.mdl-grid.apply-card-padding {
    padding-top: 0px;
}

.apply-card {
    background: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    padding: 16px;
    direction: rtl;
}

.title-link {
    text-decoration: none;
    color: rgb(255,255,255);
}