body {
	background: #fafafa;
	position: relative;
}

.page-title
{
	color: #757575;
	vertical-align: middle;
	padding: 8px 5px 5px 5px;
	margin-top: 10px;
}

.demo-list-two.mdl-list.apply-list {
	background: #ffffff;
	margin-top: 0px;
}

.job-title {
	color: rgba(0,0,0,.87);
	text-decoration: none;
}

.material-icons.open_in_new {
	font-size: 14px;
}

.title-link {
	text-decoration: none;
	color: rgb(255,255,255);
}