body {
	background: #fafafa;
	position: relative;
}

.mdl-card__title.card__title {
	padding-bottom: 0px;
}

.demo-card-wide.mdl-card {
	width: 600px;
	min-height: auto;
	margin-bottom: 8px;
	margin-top: 20px;
}

.mdl-card__supporting-text.text-in-card {
	padding: 16px 16px;
}

.edit-btn {
	margin-top: 20px;
	margin-bottom: 20px;
}

.mdl-textfield--floating-label input[type=password]:-webkit-autofill ~ label {
  transform: translate3d(0, -20px, 0);
  visibility: hidden;
}

.mdl-textfield--floating-label input[type=password]:-webkit-autofill ~ label:after {
  content: 'Password';
  visibility: visible;
  left: 0;
  transform: translate3d(0, -20px, 0);
  background: transparent;
  color: inherit;
}
