body {
	background: #fafafa;
	position: relative;
}

.page-title
{
	color: #757575;
	vertical-align: middle;
	padding: 8px 5px 5px 5px;
	margin-top: 10px;
}

.demo-list-icon {
	margin-top: 3px;
	margin-bottom: 8px;
}

.mdl-list__item.job-title-list {
	background: #ffffff;
	min-height: 56px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.applicant-list {
	background: #ffffff;
	display: none;
}

.mdl-button.accept-btn {
	margin-right: 10px;
}

.mdl-button.accepted-status, .mdl-button.rejected-status {
	display: none;
}

.supporting-details {
	color: rgba(0,0,0,.54);
	font-size: 15px;
	padding-left: 6px;
}

.demo-list-width {
	width: 650px;
}

.status-bar {
	display: inline-flex;
}