<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" type="text/css" href="../style/viewApplicant.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-purple.min.css" />
	<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
	<!-- 	<script src="test.js" type="text/javascript"></script> -->
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
	<title>View Job Applicants</title>
	
</head>

<body>
	<div class="layout-waterfall mdl-layout mdl-js-layout">
		<header class="mdl-layout__header mdl-layout__header--waterfall">
			<div class="mdl-layout__header-row">				
				<!-- Title -->
				<span class="mdl-layout-title">Logo Here</span>
			</div>
		</header>

		<main class="mdl-layout__content">
			<div class="mdl-grid">
				<div class="mdl-cell mdl-cell--2-col"></div>
				<div class="mdl-cell mdl-cell--8-col">
					<div class="page-title">
						<h4>View Job Applicants</h4>	
					</div>
					
					<div class="job-{{1}}">						
						<div class="mdl-list__item job-title-list">
							<span class="mdl-list__item-primary-content">Job Title 1</span>	
							<span class="mdl-list__item-secondary-content" onclick="dropdownToggle()">
								<i class="material-icons">expand_more</i>	
							</span>
						</div>	
						<!-- Remember to have different class name for each job -->
						<div class="job-applicant-list-{{1}} applicant-list" >
							<ul class="demo-list-icon mdl-list">
								<li class="mdl-list__item mdl-list__item--three-line">
									<span class="demo-list-width mdl-list__item-primary-content">
										<i class="material-icons mdl-list__item-avatar">person</i>
										<span>Tony Stark</span>
										<span class="supporting-details">Male</span>										
										<span class="supporting-details">19</span>										
										<span class="supporting-details">0123456789</span>										
										<span class="mdl-list__item-text-body">I'm Tony Stark, the CEO for Stark Enterprise and Board of Directors for The Avengers. Captain America once asked me Who are you? I'm Genius, billionaire, playboy, philanthropist.</span>
									</span>
									<span class="mdl-list__item-secondary-content">
										<span class="mdl-list__item-secondary-info"></span>
										<div class="status-bar">
											<form action="">
												<button id="accept" class="mdl-button mdl-js-button mdl-button--raised accept-btn" type="submit">
													Accept
												</button>
											</form>
											<form action="">
												<button id="reject" class="mdl-button mdl-js-button mdl-button--raised reject-btn" type="submit">
													Reject
												</button>
											</form>
										</div>
										<button class="mdl-button mdl-js-button mdl-button--raised accepted-status" disabled>
											Accepted
										</button>
										<button class="mdl-button mdl-js-button mdl-button--raised rejected-status" disabled>
											Rejected
										</button>
									</span>
								</li>
								<li class="mdl-list__item mdl-list__item--three-line">
									<span class="demo-list-width mdl-list__item-primary-content">
										<i class="material-icons mdl-list__item-avatar">person</i>
										<span>Tony Stark</span>
										<span class="supporting-details">Male</span>										
										<span class="supporting-details">19</span>										
										<span class="supporting-details">0123456789</span>										
										<span class="mdl-list__item-text-body">Hello world! I'm Tony Stark, the CEO for Stark Enterprise and Board of Directors for The Avengers. Captain America once asked me Who are you? I'm Genius, billionaire, playboy, philanthropist.</span>
									</span>
									<span class="mdl-list__item-secondary-content">
										<span class="mdl-list__item-secondary-info"></span>
										<div class="status-bar">
											<form action="">
												<button id="accept" class="mdl-button mdl-js-button mdl-button--raised accept-btn" type="submit">
													Accept
												</button>
											</form>
											<form action="">
												<button id="reject" class="mdl-button mdl-js-button mdl-button--raised reject-btn" type="submit">
													Reject
												</button>
											</form>
										</div>
										<button class="mdl-button mdl-js-button mdl-button--raised accepted-status" disabled>
											Accepted
										</button>
										<button class="mdl-button mdl-js-button mdl-button--raised rejected-status" disabled>
											Rejected
										</button>
									</span>
								</li>
							</ul>
						</div>
					</div>


					<!-- <div class="job-{{2}}" onclick="dropdownToggle()">						 -->
					<div class="job-{{2}}">						
						<div class="mdl-list__item job-title-list">
							<span class="mdl-list__item-primary-content">Job Title 2</span>	
							<!-- <span class="mdl-list__item-secondary-content" onclick="dropdownToggle()"> -->
							<span class="mdl-list__item-secondary-content">
								<i class="material-icons">expand_more</i>	
							</span>
						</div>	
						<!-- Remember to have different class name for each job -->
						<div class="job-applicant-list-{{2}} applicant-list" >
							<ul class="demo-list-icon mdl-list">
								<li class="mdl-list__item mdl-list__item--three-line">
									<span class="demo-list-width mdl-list__item-primary-content">
										<i class="material-icons mdl-list__item-avatar">person</i>
										<span>Tony Stark</span>
										<span class="supporting-details">Male</span>										
										<span class="supporting-details">19</span>										
										<span class="supporting-details">0123456789</span>										
										<span class="mdl-list__item-text-body">I'm Tony Stark, the CEO for Stark Enterprise and Board of Directors for The Avengers. Captain America once asked me Who are you? I'm Genius, billionaire, playboy, philanthropist.</span>
									</span>
									<span class="mdl-list__item-secondary-content">
										<span class="mdl-list__item-secondary-info"></span>
										<form action="">
											<button id="accept" class="mdl-button mdl-js-button mdl-button--raised accept-btn" type="submit">
												Accept
											</button>

											<button id="reject" class="mdl-button mdl-js-button mdl-button--raised reject-btn" type="submit">
												Reject
											</button>

											<button class="mdl-button mdl-js-button mdl-button--raised accepted-status" disabled>
												Accepted
											</button>
											<button class="mdl-button mdl-js-button mdl-button--raised rejected-status" disabled>
												Rejected
											</button>
										</form>
									</span>
								</li>
								<li class="mdl-list__item mdl-list__item--three-line">
									<span class="demo-list-width mdl-list__item-primary-content">
										<i class="material-icons mdl-list__item-avatar">person</i>
										<span>Tony Stark</span>
										<span class="supporting-details">Male</span>										
										<span class="supporting-details">19</span>										
										<span class="supporting-details">0123456789</span>										
										<span class="mdl-list__item-text-body">Hello world! I'm Tony Stark, the CEO for Stark Enterprise and Board of Directors for The Avengers. Captain America once asked me Who are you? I'm Genius, billionaire, playboy, philanthropist.</span>
									</span>
									<span class="mdl-list__item-secondary-content">
										<span class="mdl-list__item-secondary-info"></span>
										<form action="">
											<button id="accept" class="mdl-button mdl-js-button mdl-button--raised accept-btn" type="submit">
												Accept
											</button>

											<button id="reject" class="mdl-button mdl-js-button mdl-button--raised reject-btn" type="submit">
												Reject
											</button>

											<button class="mdl-button mdl-js-button mdl-button--raised accepted-status" disabled>
												Accepted
											</button>
											<button class="mdl-button mdl-js-button mdl-button--raised rejected-status" disabled>
												Rejected
											</button>
										</form>
									</span>
								</li>
							</ul>
						</div>
					</div>


				</div>
			</div>
		</div> 
	</div>
</main>
</div>
<script>

	function dropdownToggle(){

		var x = document.getElementsByClassName("job-applicant-list-{{1}}");
		if (x[0].style.display !== 'block') {
			x[0].style.display = 'block';
		} 
		else {
			x[0].style.display = 'none';
		}


	}

</script>
</body>
</html>