<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" type="text/css" href="../style/viewJob.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-purple.min.css" />
	<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
	<!-- 	<script src="test.js" type="text/javascript"></script> -->
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
	<title>View Job</title>
	
</head>

<body>
	<div class="layout-waterfall mdl-layout mdl-js-layout">
		<header class="mdl-layout__header mdl-layout__header--waterfall">
			<div class="mdl-layout__header-row">				
				<!-- Title -->
				<span class="mdl-layout-title">Logo Here</span>
			</div>
		</header>

		<main class="mdl-layout__content grid-padding">

			<div class="mdl-grid no-bottom-padding">
				<div class="mdl-cell mdl-cell--1-col"></div>
				
				<div class="mdl-cell mdl-cell--10-col no-bottom-margin">		

					<div class="demo-card-wide mdl-card mdl-shadow--2dp">
						<!-- Job Overview card -->
						<div class="mdl-card__title job-company">
							<div>
								<h2 class="mdl-card__title-text	job-title">Job Title </h2>  

								<h5 class="company-name">Jobstreet.com Shared Service Sdn. Bhd.</h5>
							</div>						
						</div>
						<!-- <div class="mdl-card__supporting-text location">Kuala Lumpur</div>  -->
					</div>
				</div>
			</div>

			<div class="mdl-grid no-bottom-padding no-top-padding">
				<div class="mdl-cell mdl-cell--1-col"></div>

				<div class="mdl-cell mdl-cell--7-col job-description-margin">	
					<!-- Job Description -->
					<div class="demo-card-wide mdl-card mdl-shadow--2dp job-description">
						<div class="mdl-card__title">
							<h2 class="mdl-card__title-text">About the Job</h2>
						</div>
						<div class="mdl-card__supporting-text">
							 <p><label><strong>Job Location: </strong>{{$jobpost->jobLocation}}</label></p>
							 <p><label><strong>Dresscode: </strong>{{$jobpost->dress_code}}</label></p>
							 <p><label><strong>Language: </strong>{{$jobpost->language}}</label></p>
							 <p><label><strong>Salary: </strong>{{$jobpost->salary}}</label></p>
							 <p><label><strong>Working Hours: </strong>{{$jobpost->working_hours}}</label></p> 
							 <p><label><strong>Description: </strong> {{$jobpost->description}} Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</label></p>
						</div>
					</div>
				</div>
				<div class="mdl-cell mdl-cell--3-col no-left-margin ">	
					<!-- Company Details -->
					<div class="demo-card-wide mdl-card mdl-shadow--2dp job-description">
						<div class="mdl-card__title">
							<h2 class="mdl-card__title-text">Company Details</h2>
						</div>
						<div class="mdl-card__supporting-text">
							 <p><label><strong>Address: </strong>{{$headhunter->company_address}}</label></p>
							 <p><label><strong>Website: </strong>{{$headhunter->company_website}}</label></p>
							 <p><label><strong>Telephone: </strong>{{$headhunter->telephone}}</label></p>							 
						</div>
					</div>

				</div>
			</div>

			<div class="mdl-grid apply-card-padding">
				<div class="mdl-cell mdl-cell--1-col"></div>
				<div class="mdl-cell mdl-cell--10-col">
					<!-- Apply card -->
					<div class="apply-card">						
						<form action="#">	
							<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary">
								Apply Job
							</button>
						</form>					
					</div>
				</div>

			</div>
		</main>

	</div>
</div>
</body>
</html>